label {

    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #4b5563;
}

input {
    margin-bottom: 0.1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #a9a9a9;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #4b5563;
    background-color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}